{% extends 'base.html' %}

{% block content %}
    <h1>Теоретическая часть</h1>
    
    <div class="theory-buttons">
        <a href="/article1" class="theory-button">
            <img src="/static/images/photo4.jpg" alt="Теория 1">
            <div class="overlay">Введение: Основы финансовой грамотности</div>
            <h3>Теория 1</h3>
        </a>
        <a href="/article2" class="theory-button">
            <img src="/static/images/photo5.jpg" alt="Теория 2">
            <div class="overlay">Кредиты: разумный подход</div>
            <h3>Теория 2</h3>
        </a>
        <a href="/article3" class="theory-button">
            <img src="/static/images/planing.jpg" alt="Теория 3">
            <div class="overlay">Основы Личного Финансового Планирования</div>
            <h3>Теория 3</h3>
        </a>
        <a href="/article4" class="theory-button">
            <img src="/static/images/dohod.jpg" alt="Теория 4">
            <div class="overlay">Управление Доходами и Расходами</div>
            <h3>Теория 4</h3>
        </a>
        <a href="/article5" class="theory-button">
            <img src="/static/images/investing.jpg" alt="Теория 5">
            <div class="overlay">Основы инвестирования</div>
            <h3>Теория 5</h3>
        </a>
        <a href="/article6" class="theory-button">
            <img src="/static/images/zaim.jpg" alt="Теория 6">
            <div class="overlay">Кредиты и займы</div>
            <h3>Теория 6</h3>
        </a>
        <a href="/article7" class="theory-button">
            <img src="/static/images/strahovanie.png" alt="Теория 7">
            <div class="overlay">Страхование: Защита Финансовой Стабильности</div>
            <h3>Теория 7</h3>
        </a>
        <a href="/article8" class="theory-button">
            <img src="/static/images/discipline.jpg" alt="Теория 8">
            <div class="overlay">Финансовая дисциплина и самоконтроль</div>
            <h3>Теория 8</h3>
        </a>
        <a href="/article9" class="theory-button">
            <img src="/static/images/cards.jpg" alt="Теория 9">
            <div class="overlay">Эффективное Использование Кредитных Карт</div>
            <h3>Теория 9</h3>
        </a>
        <a href="/article10" class="theory-button">
            <img src="/static/images/obrazovanie.jpeg" alt="Теория 10">
            <div class="overlay">Финансовая Грамотность и Образование</div>
            <h3>Теория 10</h3>
        </a>
    </div>
{% endblock %}